<div class="video-grid">

  <div class="video-card">
    <div class="card-thumbnail">
      <a href="/viewpost?id={{id}}">
        <img class="video-thumbnail" src="{{thumbnail}}" alt="Video Thumbnail">
        <h3 class="card-title">{{title}}</h3>
      </a>
    </div>
  </div>

</div>
