<main>
  <h2>Login Form</h2>
  <form>
    <div class='input-group'>
      <div>
        <label for='username'>Username</label>
        <input
          type='text'
          name='Username'
          id='username'
          placeholder='Username'
          required
        />
      </div>

      <br />
      <div>
        <label for='password'>Password</label>
        <input
          type='password'
          name='password'
          id='password'
          placeholder='password'
          required
        />
      </div>
      <br />
      <div class='button'>
        <button type='submit' formaction='/profile'>Log in</button>
      </div>
      <br />
      <div class='button'>
        <button type='submit' formaction='/registration'>
          Have not registered yet? Sign up here
        </button>
      </div>
    </div>
  </form>
</main>