<main>
  <h2>Profile</h2>
  <div class='profile-group'>
    <div>
      <label for='Username '>Username: {{user.username}} </label>
    </div>
  
    <div>
  
      <label for='Email '>Email: {{user.email}} </label>
      
      <div class="post">
      <label for='post'><a href='/viewpost'>Post 1</a></label>
    </div>
    </div>
    <br />

    
  </div>
</main>