<main>
  <h2>Profile</h2>
  <div class='input-group'>
    <div>
      <label for='Username '>Username:</label>
      <label for='Username '> User's username here</label>
    </div>
    <br />
    <div>
      <br />
      <label for='Email '>Email: </label>
      <label for='Email '>User's email here</label>
    </div>
    <br />

    <div>
      <br />
      <label for='post'><a href='/viewpost'>Post 1</a></label>
    </div>
  </div>
</main>