
    <main>
      <h2>Uploaded Video Title</h2>
      <div class='input-group'>
        Post by: Video Author
        <br /><br />
        Time of post: Post Creation Time
        <br /><br />
        <video width='400' height='300' controls>
          <source src='movie.mp4' type='video/mp4' />
        </video>
        <br /><br />
        <label for='label'>Leave comment here: </label>

        <div class='textBox'>
          <textarea rows='4' cols='50' name='comment' form='usrform'>
          </textarea>
        </div>
      </div>
      <br /><br />
      <h3>Previous Comment</h3>
      <div class='prevComment'>
        <ul>
          <li>
            <img src='' alt='' />
            <p>title</p>
            <button>Edit</button><button>Delete</button>
          </li>
          <li>
            <img src='' alt='' />
            <p>title</p>
            <button>Edit</button><button>Delete</button>
          </li>
          <li>
            <img src='' alt='' />
            <p>title</p>
            <button>Edit</button><button>Delete</button>
          </li>
        </ul>
      </div>
    </main>
  </body>
