*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background-image: linear-gradient(rgb(47, 45, 45), grey);
  background-attachment: fixed;
  margin: 0%;
  padding: 0%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  overflow: auto;
  background-attachment: fixed;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px;
  width: 100%;
  color: beige;
}
footer {
  display: flex;
  justify-content: center; /* centers items horizontally */
  align-items: center;
  padding: 11px;
  width: 100%;
  color: beige;
  background-color: rgb(90, 89, 89);
  margin-top: auto;
  font-size: 25px;
  text-align: center;
}
h1 a {
  position: relative;
  display: block;
  color: beige;
  padding: 16px;
  font-size: 40px;
  text-decoration: none;
  border-radius: 15px;
  text-align: center;
}
h1 a:hover {
  text-align: center;
  background-color: #808080;
  transition: 0.2s;
}
h2 {
  color: beige;
  text-align: center;
  background-color: rgb(116, 114, 114);
}

.nav-group {
  list-style: none;
}
.nav-group ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: auto;
}
.nav-group li {
  display: inline-block;
}

.nav-group a {
  position: relative;
  display: block;
  color: beige;
  padding: 16px;
  font-size: 17px;
  text-decoration: none;
  border-radius: 15px;
}
.nav-group a:hover {
  background-color: gray;
  transition: 0.2s;
}

.input-group {
  background-color: beige;
  padding: 10px;
  margin-left: 200px;
  margin-right: 200px;
  border-radius: 20px;
  color: black;
  position: relative;
}
.profile-group {
  background-color: beige;
  padding: 10px;
  margin-left: 200px;
  margin-right: 200px;
  border-radius: 20px;
  color: black;
  position: relative;
}
.input-group label {
  float: left;
  font-size: 17px;
}
.input-group input {
  border-radius: 15px;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 10px;
  border: none;
}

.button button {
  border-radius: 15px;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 10px;
  border: none;
  cursor: pointer;
  background-color: rgb(116, 114, 114);
  color: whitesmoke;
  font-size: 17px;
  text-decoration: none;
}

.post label {

  
  width: 100%;
  padding: 10px;
  border: none;
  cursor: pointer;
  
  color: whitesmoke;
  font-size: 17px;
  text-decoration: none;
}
.button button:hover {
  background-color: rgb(96, 94, 94);
}

.button a {
  display: inline-block;
  border-radius: 15px;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 10px;
  border: none;
  cursor: pointer;
  background-color: rgb(116, 114, 114);
  color: whitesmoke;
  font-size: 17px;
  text-align: center;
  text-decoration: none;
}

.button a:hover {
  background-color: rgb(92, 92, 92);
}

.buttonReg button {
  border-radius: 15px;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 10px;
  border: none;
  cursor: pointer;
  background-color: rgb(116, 114, 114);
  color: whitesmoke;
  font-size: 20px;

}
.button:hover {
  color: #808080;
}
.buttonReg input:hover {
  color: wheat;
  transition: 0.2s;
  opacity: 1;
}

.button:active {
  transform: translateY(6px);
}
.buttonReg:active {
  transform: translateY(6px);
}
.input-group > .age input {
  background-color: none;
  box-shadow: none;
}
.input-group > .Rules input {
  background-color: none;
  box-shadow: none;
}

.input-group > .Browse input {
  background-color: none;
  box-shadow: none;
}
.Browse:hover {
  color: grey;
}
.input-group > .textBox textarea {
  border-radius: 15px;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 10px;
  border: none;
}

.prevComment {
  background-color: beige;
  padding: 10px;
  margin-left: 200px;
  margin-right: 200px;
  border-radius: 20px;
  color: black;
  position: relative;
}
h3 {
  position: relative;
  display: block;
  color: beige;
  padding: 1px;
  font-size: 30px;
  text-decoration: none;
  border-radius: 15px;
  text-align: center;
}
.image {
  display: flex;
  justify-content: center;
}

.valid-text {
  outline: solid green;
  outline-width: 3px;
}

.invalid-text {
  outline: solid red;
  outline-width: 3px;
}

#rules {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  width: 100%;
  font-size: 15px;
  color: black;
  border-radius: 20px;
  list-style-type: none;
}

#rulesEmail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  width: 100%;
  font-size: 15px;
  color: black;
  border-radius: 20px;
  list-style-type: none;
}

#rulesPassword {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  width: 100%;
  font-size: 15px;
  color: black;
  border-radius: 20px;
  list-style-type: none;
}

#rulesConPass {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  width: 100%;
  font-size: 15px;
  color: black;
  border-radius: 20px;
  list-style-type: none;
}

.age label {
  display: block;
  padding-left: 15px;
  text-indent: -15px;
}

.age input {
  width: 15px;
  height: 15px;
  padding: 0;
  margin: 0;
  margin-left: 10px;
  vertical-align: bottom;
  position: relative;
  top: -1px;
}

.Rules label {
  display: block;
  padding-left: 15px;
  text-indent: -15px;
}

.Rules input {
  width: 15px;
  height: 15px;
  padding: 0;
  margin: 0;
  margin-left: 10px;
  vertical-align: bottom;
  position: relative;
  top: -1px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
}

.product-card {
  display: flex;
  flex-direction: column;
  background-color: beige;
  margin: 10px;
  text-align: center;
  opacity: 1;
  transition: opacity 1s ease-in-out; /* set the fade out speed to 1 second */
}

.product-card.fade-out {
  opacity: 0;
}

.product-img {
  max-width: 500px;
  height: 200px;
  margin-bottom: 1px;
}

.product-title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding: 5px;
    margin: auto;
}

.product-cost {
  font-size: 15px;
  text-align: center;
  padding: 5px;
  margin: auto;
}
.product-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
